@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* TAilwind import */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  scroll-behavior: smooth;
  box-sizing: border-box;
  background: black;
  color: aliceblue;
  font-family: "Open Sans", serif;
  overflow-x: hidden;
}
.hero{
    background-image: url("/musicHero.jpg");
    background-size: cover;
    background-position: center;
}
.gradient{
  background: linear-gradient(to right, #ffc857, #BC7C7C, #9b42c0);
}
